@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  /* colours */
  --black: #0E0E0E;
  --white: #fff;
  --orange: #fa6e07;
  --grey: #afafaf;
  /* fonts */
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Secular One', sans-serif;
  /* font weight */
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  /* font-size */
  --normal-font: 1.4rem;
  --subtitle-font: 2.2rem;
}

@media (min-width: 768px) {
  :root {
    --normal-font: 1.8rem;
    --subtitle-font: 4.4rem;
  }
}

body {
  min-height: 100vh;
  background: var(--black);
  font-family: var(--primary-font);
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  body:before {
    content: "";
    width: 40rem;
    height: 40rem;
    background: radial-gradient(circle, var(--orange) -129%,var(--black) 76%);
    position: absolute;
    top: -15rem;
    left: 2rem;
    border-radius: 50%;
    z-index: 1;
    filter: blur(15px);
    opacity: .2;
  }
}

.button {
  background: var(--orange);
  color: var(--white);
  padding: 2rem 3rem;
  display: block;
  text-align: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: var(--semi-bold);
  border-radius: 5rem;
  transition: opacity .3s ease-in-out;
}

.button:hover {
  opacity: .8;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 1rem;
}
