<section id="about">
  <div class="img">
    <img src="/img/about.jpg" alt="puede ser una imagen de una persona haciendo ejercicio">
  </div>

  <article>
    <h2>sobre <span>nosotros</span></h2>
    <h3 class="bold">Bienvenido a nuestro gymnasio!</h3>
    <p>Desde hace más de 5 años, ofrecemos a nuestros clientes entrenamientos cómodos y eficaces combinando lo mejor de la industria del fitness:</p>
    <ul>
      <li>Equipamiento profesional de primera clase.</li>
      <li>Un equipo de especialistas altamente cualificados.</li>
      <li>Programas eficaces.</li>
      <li>Y lo más importante, un ambiente especial que permite sentir el apoyo de personas afines y disfrutar del entrenamiento.</li>
    </ul>
  </article>

</section>

<style>

  section {
    margin-top: 5rem;
    padding: 1rem;
    position: relative;
  }

  .img {
    height: 50rem;
    width: 100%;
  }

  .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  article {
    background: var(--black);
    padding: 0 2rem;
  }

  h2 {
    font-size: var(--subtitle-font);
    text-transform: uppercase;
    font-family: var(--primary-font);
    color: var(--white);
    margin-top: -3.5rem;
    text-shadow: 0 0 1rem var(--black);;
  }

  h2 span {
    color: var(--orange);
  }

  h3 {
    font-weight: var(--medium);
    color: var(--white);
    margin-top: 2rem;
  }

  p {
    font-size: var(--normal-font);
    font-weight: var(--regular);
    color: var(--white);
    margin-top: 2rem;
    line-height: 1.5;
  }

  ul {
    margin: 2rem 0 0 1.5rem;
    color: var(--white);
    font-size: var(--normal-font);
    font-weight: var(--regular);
    line-height: 1.5;
    list-style: none;
  }

  li {
    margin: 1rem 0;
  }

  ul li::before {
    content: "•";
    color: var(--orange);
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
    width: 2rem;
    margin-left: -1rem;
  }

  @media (min-width: 768px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;
      padding-top: 6rem;
      place-items: center;
    }

    .img {
      height: 50rem;
    }

    .img img {
      object-fit: contain;
    }

    article {
      padding: 0 4rem;
      z-index: 1;
    }

    article::before {
      content: "";
      width: 30rem;
      height: 30rem;
      background: radial-gradient(circle, var(--orange) -129%,var(--black) 76%);
      position: absolute;
      top: -5rem;
      right: -15rem;
      border-radius: 50%;
      z-index: 1;
      filter: blur(15px);
      opacity: .08;
    }

    h2 {
      margin-top: -2rem;
    }

    h2::before {
      content: "VIDA";
      font-size: 21.5rem;
      font-weight: var(--light);
      color: transparent;
      font-family: var(--secondary-font);
      background: linear-gradient(90deg,var(--primary-color) 0%,var(--secondary-color) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px var(--orange);
      position: absolute;
      top: -10rem;
      right: -22rem;
      z-index: -1;
      opacity: .1;
    }

    h3 {
      margin-top: 3rem;
    }

    p {
      margin-top: 3rem;
    }

    ul {
      margin-top: 3rem;
    }
  }

</style>
