---
  import { BiDumbbell, BiMapPin, BiUserCheck, BiDollarCircle } from 'react-icons/bi/index'
  import data from '../data/benefits.json'
---

<section>
  <h2>Nuestras <span>prestaciones</span></h2>
  <div class="grid">
  {
    data.map(({ icon, title, description }) => (
      <article class="item">
        {icon === 'pesas' && <BiDumbbell />}
        {icon === 'map' && <BiMapPin />}
        {icon === 'user' && <BiUserCheck />}
        {icon === 'price' && <BiDollarCircle />}
        <h3>{title}</h3>
        <p>{description}</p>
      </article>
    ))
  }
  </div>
</section>

<style>
  section {
    padding: 0 1rem;
    color: var(--white);
    margin-top: 4rem;
  }

  h2 {
    font-size: var(--subtitle-font);
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
    margin-bottom: 4rem;
    position: relative;
  }

  h2 span {
    color: var(--orange);
  }

  .grid {
    margin-top: 9rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28.5rem, 1fr));
    gap: 4rem 1rem;
    justify-items: center;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 28.5rem;
  }

  :global(.item svg) {
    font-size: 7rem;
    color: var(--grey);
  }

  .item h3 {
    font-family: var(--primary-font);
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: var(--light);
    margin: 1.5rem 0;
    color: var(--orange);
  }

  .item p {
    font-size: var(--normal-font);
    text-align: center;
    color: var(--white);
    font-weight: var(--light);
  }

  @media (min-width: 768px) {
    section {
      padding: 6rem 0;
    }

    h2::before {
      content: "";
      width: 40rem;
      height: 40rem;
      background: radial-gradient(circle, var(--orange) -129%,var(--black) 76%);
      position: absolute;
      top: -15rem;
      left: -30rem;
      border-radius: 50%;
      z-index: 9;
      filter: blur(95px);
      opacity: .2;
    }

    h2 span::before {
      content: "DEPORTE";
      font-size: 21.5rem;
      font-weight: var(--light);
      color: transparent;
      font-family: var(--secondary-font);
      background: linear-gradient(90deg,var(--primary-color) 0%,var(--secondary-color) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px var(--orange);
      position: absolute;
      top: -14rem;
      left: -23rem;
      z-index: 1;
      opacity: .1;
    }

  }

</style>
