<footer>
  <p>&copy; {new Date().getFullYear()} All Right Reserverd. Made by <a href="https://rxtsel.dev">@rxtsel</a></p>
</footer>

<style>
  footer {
    text-align: center;
    padding: 2rem;
  }

  footer p {
    color: var(--grey);
    margin: 0;
  }

  footer a {
    text-decoration: none;
    color: var(--white);
    transition: color .5s ease;
  }

  footer a:hover {
    color: var(--orange);
  }

</style>
