<main>
  <div class="content-img">
    <img src="/img/hero.jpg" alt="puede ser una imagen de una mujer alzando pesas">
  </div>

  <div class="content">
    <h1>Comenzemos una <span>nueva vida</span> hoy</h1>
    <p>Bienvenido a nuestro gymnasio. Comienza tu camino hacia una vida saludable con nosotros.</p>
    <a class="button" href="#">Empezar</a>
  </div>

  <div class="scroll-down">
    <a href="#about">
      Desplácese hacia abajo y descubra
    </a>
  </div>

</main>

<style>
  main {
    min-height: calc(100vh - 5.72rem);
    display: grid;
    place-items: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden;
  }

  .content-img {
    width: 100%;
    height: 150%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-30%);
    overflow: hidden;
  }

  .content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    z-index: 1;
  }

  h1 {
    font-family: var(--secondary-font);
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    line-height: 1.1;
  }

  span {
    color: var(--orange);
  }

  p {
    color: var(--white);
    text-align: center;
    font-size: var(--normal-font);
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
  }

  a {
    font-size: var(--normal-font);
  }

  .scroll-down {
    color: var(--white);
    position: absolute;
    bottom: 6rem;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
  }
   
  .scroll-down::after {
    content: '';
    position: absolute;
    bottom: -4.8rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 2rem;
    height: 2rem;
    border: 1.5px solid var(--white);
    border-radius: 50%;
    animation: bounce 2s infinite;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-1rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  @media (min-width: 768px) {

    .content-img {
      position: absolute;
      width: 75rem;
      height: 67rem;
      right: 0;
      left: 0;
      transform: translateX(38vw) translateY(0%);
    }

    .content-img img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }

    .content {
      max-width: 75ch;
      position: absolute;
      left: 13vw;
      display: flex;
      flex-direction: column;
      align-items: start;
    }

    h1 {
      font-size: 7.9rem;
      text-align: left;
      font-weight: var(--normal);
    }

    p {
      text-align: left;
    }

    .content a {
      margin-top: 3rem;
      display: block;
      width: 20rem;
    }
  }

  @media (max-width: 876px) and (min-width: 768px) {
    .content {
      width: 65rem;
    }
  }

</style>
