---
export interface Props {
	title: string;
}

const { title } = Astro.props;
import '../styles/globals.css'
import Metatags from '../components/Metatags.astro'
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <Metatags />
	</head>
	<body>
		<slot />
	</body>
</html>
